{% extends 'base.html' %}

{% block page_title %} Password reset page {% endblock %}
{% block page_heading %} Reset Password {% endblock %}

{% block content %} 
<form method="POST">
    {% csrf_token %}
    <p>Please enter your email address</p>
    {{ form.email.errors }}
    <p>
        <!--  Django will pre-append any fields with id_ so if they have an email field
        then it'll say id_ and it will just say that that's for our email address -->
        <label for="id_email">Email Address:</label>
        {{ form.email }}
        <button type="submit">Reset Password</button>
    </p>
</form>
{% endblock %}